.arcconfig
logs
logs/*
*.save
test.conf
lightspike.conf
mib.conf
openfaux.conf
plugins/IdentificationPlugin/users.db
plugins/IdentificationPlugin/persist.db
plugins/ArtificialIntelligence/brain.db
plugins/ArtificialIntelligence/brain.old
plugins/LogReader/filters.db
plugins/QRGenerator/codes.db
plugins/QRGenerator/qrcode.test.thtml
plugins/AsciiDump/*.txt
LICENSE.min

*.py[cod]
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.mr.developer.cfg
.project
.pydevproject